:root {
    /* Colors */
    --white: #fff;
    --black-1: #eee;
    --black-2: #ccc;
    --black-3: #bbb;
    --black-4: #999;
    --black-5: #777;
    --black-6: #666;
    --black-7: #555;
    --black-8: #333;
    --black-9: #222;
    --black-10: #000;
    /* Menu */
    --menu-width: 200;
}

#layout{
    position: relative;
    background: var(--black-7);
    height: 900px;
}
#menu {
    background: var(--black-9);
    text-align: center;
}
#menu > .centralize {
    display: inline-block;
    /*border: 1px solid red;*/
}
#main {
    background: var(--black-5);
}







.content {
    margin: 0 auto;
    /*padding: 0 2em;*/
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
    /*margin: 0 0 3em 0;*/
    /*padding-top: 2.5em;*/
    text-align: center;
    border-bottom: 1px solid #eee;
}
.header > h1 {
    color: var(--black-7);
    margin: 0;
}
.header > h4 {
    color: var(--black-4);
}

#menu .item {
    color: var(--black-1);
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    /*font-family: 'Denk One', sans-serif;*/
    /*font-family: 'Kalam', cursive;*/
    /*font-family: 'Margarine', cursive;*/
    font-family: 'Pangolin', cursive;
    /*font-family: 'Voltaire', sans-serif;*/
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
    padding: .4em 1em;
}
#menu .item:hover {
    background-color: var(--black-7);
}





/*  Screen above 48em. */
@media (min-width: 48em) {

}

/* Screen under 48em. */
@media (max-width: 48em) {
    #menu {
        position: absolute;
        height: 100%;
        width: 150px;
        text-align: left;
    }
    #menu > .centralize a {
        text-align: left;
    }
    #menu .item {
        display: block;
    }
}
