:root {
    /* Colors */
    --white: #fff;
    --black-1: #eee;
    --black-2: #ccc;
    --black-3: #bbb;
    --black-4: #999;
    --black-5: #777;
    --black-6: #666;
    --black-7: #555;
    --black-8: #333;
    --black-9: #222;
    --black-10: #000;
    /* Menu */
    --menu-width: 200;
}

body {
    /*font-family: sans-serif;*/
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    transition: all 0.2s ease-out;
}

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
#layout.active #menu {
    left: calc(var(--menu-width) * 1px);
}
#layout.active .menu-link {
    left: calc(var(--menu-width) * 1px);
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
    margin: 0 0 3em 0;
    padding-top: 2.5em;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.header > h1 {
    color: var(--black-7);
    margin: 0;
}
.header > h4 {
    color: var(--black-4);
}

#menu {
    margin-left: calc(var(--menu-width) * -1px);
    width: calc(var(--menu-width) * 1px);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #222;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#menu ul, #menu li {
    margin: 0;
}
#menu li {
    list-style-type: none;;
}
#menu a {
    color: #ccc;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-1);
    /*font-family: 'Denk One', sans-serif;*/
    /*font-family: 'Kalam', cursive;*/
    /*font-family: 'Margarine', cursive;*/
    font-family: 'Pangolin', cursive;
    /*font-family: 'Voltaire', sans-serif;*/
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
    padding: .4em 1em;
}
#menu li.menu-item a:hover {
    background-color: #333;
}
#menu a.brand {
    padding-top: .8em;
    padding-bottom: .5em;
}


.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}
.menu-link:hover,
.menu-link:focus {
    background: #000;
}

.menu-link span {
    position: relative;
    display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.6em;
}

/*  Screen above 48em. */
@media (min-width: 48em) {
    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: calc(var(--menu-width) * 1px); /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: calc(var(--menu-width) * 1px);
    }

    .menu-link {
        position: fixed;
        left: calc(var(--menu-width) * 1px);
        display: none;
    }

    #layout.active .menu-link {
        left: calc(var(--menu-width) * 1px);
    }
}

/* Screen under 48em. */
@media (max-width: 48em) {
    #layout.active {
        position: relative;
        left: calc(var(--menu-width) * 1px);
    }
}
