:root {
    /* Colors */
    --white: #fff;
    --black-1: #eee;
    --black-2: #ccc;
    --black-3: #bbb;
    --black-4: #999;
    --black-5: #777;
    --black-6: #666;
    --black-7: #555;
    --black-8: #333;
    --black-9: #222;
    --black-10: #000;
    /* Menu */
    --menu-width: 150;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#menu-toggle, #menu, #menu .items {
    transition: all .6s ease-out;
}

#menu {
    background: var(--black-9);
    z-index: 1000;
}

#main{
    flex-grow: 1;
}
#main h1 {
    margin-bottom: 0;
}

.content {
    margin: 0 auto;
    /*padding: 0 2em;*/
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
    /*margin: 0 0 3em 0;*/
    /*padding-top: 2.5em;*/
    text-align: center;
    border-bottom: 1px solid #eee;
}
.header > h1 {
    color: var(--black-7);
    margin: 0;
}
.header > h4 {
    color: var(--black-4);
}

#menu .item {
    color: var(--black-1);
    display: inline-block;
    /*text-align: center;*/
    text-transform: uppercase;
    /*font-family: 'Denk One', sans-serif;*/
    /*font-family: 'Kalam', cursive;*/
    /*font-family: 'Margarine', cursive;*/
    font-family: 'Pangolin', cursive;
    /*font-family: 'Voltaire', sans-serif;*/
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
    padding: .4em 1em;
    z-index: 1000;
}
#menu .item:hover {
    background-color: var(--black-7);
}



#footer {
    width: 100%;
    background-color: var(--black-7);
    text-align: center;
}
#footer .item {
    color: var(--black-1);
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Pangolin', cursive;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
    padding: .4em 1em;
}



/*  Screen above 48em. */
@media (min-width: 48em) {
    #menu {
        text-align: center;
    }
    #menu-toggle {
        display: none;
    }

    #menu .items {
        display: none;
    }
}

/* Screen under 48em. */
@media (max-width: 48em) {
    /* Toggle menu. */
    #menu-toggle {
        display: block;
        background-color: yellow;
        color: var(--black-10);
        position: absolute;
        height: 40px;
        width: 40px;
        z-index: 1100;
        left: 0;
    }
    /* Menu. */
    #menu {
        position: absolute;
        height: 100%;
        width: calc(var(--menu-width) * 1px);
        left: calc(var(--menu-width) * -1px);
        text-align: left;
    }
    #menu.active, #menu-toggle.active {
        margin-left: calc(var(--menu-width) * 1px);
    }
    /* Menu item. */
    #menu .item {
        display: block;
        padding: .4em;
    }
    /* Sub-menu. */
    #menu .items {
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 1010;
        background-color: var(--black-9);
        width: calc(var(--menu-width) * 1px);
        left: calc(var(--menu-width) * -1px);
    }
    #menu .items.active {
        left: 0;
    }
    /* Fotter. */
    #footer .item {
        display: block;
    }
}
