{{define "menu"}}
<a class="brand" href="/">Escola</a>
<ul class="menu-list">
    <li class="menu-item"><a href="/info/institutional">Institucional</a></li>
    <li class="menu-item"><a href="#">Aulas</a></li>
    <li class="menu-item"><a href="#">Alugueis</a> </li>
    <li class="menu-item"><a href="#">Passeios</a></li>
    <li class="menu-item"><a href="#">Passeios</a></li>
    <li class="menu-item"><a href="#">Projetos</a></li>
    <li class="menu-item"><a href="#">Aluno</a></li>
    <li class="menu-item"><a href="#">Blog</a></li>
    <li class="menu-item"><a href="#">Contato</a></li>
</ul>
{{end}}