{{define "menu"}}
<a class="item brand" href="/">Home</a>

<a class="item toggle-items" href="#">Aulas</a>
<div class="items">
    <a class="item" href="/info/childrens-sailing-lessons">Aulas para crianças</a>
    <a class="item" href="/info/adults-sailing-lessons">Aulas para adulto</a>
    <a class="item" href="/info/rowing-lessons">Aulas de remo</a>
</div>

<a class="item toggle-items" href="#">Alugueis</a> 
<div class="items">
    <a class="item" href="/info/sailboat-rental">Aluguel de veleiro</a>
    <a class="item" href="/info/kayaks-and-aquatic-bikes-rental">Aluguel de caique e bicicleta aquática</a>
</div>

<a class="item" href="/info/sailboat-ride">Passeio de veleiro</a>

<a class="item" href="/info/projects-and-initiatives">Projetos e inciativas</a>

<a class="item" href="/info/students-area">Area do aluno</a>

<a class="item" href="/blog/">Blog</a>

<a class="item" href="/info/contact">Contato</a>

<a class="item" href="/info/institutional">Institucional</a>

<a class="item toggle-items" href="#">Admin</a>
<div class="items">
    <a class="item" href="/clean-sessions">Limpar seções</a>
</div>
    
<a class="item toggle-items" href="#">Aluno</a></li>
<div class="items">
    <a class="item" href="/student/all">Alunos</a>
    <a class="item" href="/student/new">Novo aluno</a>
</div>

<li><a class="item" href="#">Douglas Gomes</a></li>

<li><a class="item" href="/auth/signin">Entrar</a></li>

<li><a class="item" href="/auth/signout">Sair</a></li>
{{end}}