{{define "menu_olf"}}
<a class="brand" href="/">Home</a>
<ul class="menu-list">
    <li>
        <a class="toggle-menu" href="#">Aulas</a>
        <ul>
            <li><a href="/info/childrens-sailing-lessons">Aulas para crianças</a></li>
            <li><a href="/info/adults-sailing-lessons">Aulas para adulto</a></li>
            <li><a href="/info/rowing-lessons">Aulas de remo</a></li>
        </ul>
    </li>

    <li>
        <a class="toggle-menu" href="#">Alugueis</a> 
        <ul>
            <li><a href="/info/sailboat-rental">Aluguel de veleiro</a></li>
            <li><a href="/info/kayaks-and-aquatic-bikes-rental">Aluguel de caique e bicicleta aquática</a></li>
        </ul>
    </li>

    <li><a href="/info/sailboat-ride">Passeio de veleiro</a></li>
    <li><a href="/info/projects-and-initiatives">Projetos e inciativas</a></li>
    <li><a href="/info/students-area">Area do aluno</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/info/contact">Contato</a></li>
    <li><a href="/info/institutional">Institucional</a></li>

    <li>
        <a href="#">Admin</a>
        <ul>
            <li><a href="/clean-sessions">Limpar seções</a></li>
        </ul>
    </li>
    
    <li>
        <a href="#">Aluno</a></li>
        <ul>
            <li><a href="/student/all">Alunos</a></li>
            <li><a href="/student/new">Novo aluno</a></li>
        </ul>
    </li>
    <li><a href="#">Douglas Gomes</a></li>
    <li><a href="/auth/signin">Entrar</a></li>
    <li><a href="/auth/signout">Sair</a></li>
</ul>
{{end}}